.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar-brand{ color: white;  font-size: 55px; font-weight: bold; }
.nav-link{color: white;  font-size: 18px;  font-weight: bold;}
.card{margin-top: 150px}